# Importing the required libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Loading the dataset to the pandas dataframe.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/santhoshsai3/CMPE255-TermProject/main/ratings_Beauty.csv')

# Summary of Dataset

In [10]:
print("shape of the dataset :" , df.shape)
(rows,cols) = df.shape
print("The number of rows : ", rows)
print("The number of columns : ", cols)

shape of the dataset : (2023070, 4)
The number of rows :  2023070
The number of columns :  4

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023070 entries, 0 to 2023069
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   UserId     object
 1   ProductId  object
 2   Rating     float64
 3   Timestamp  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 61.7+ MB

In [13]:
df.describe()

             Rating     Timestamp
count  2.023070e+06  2.023070e+06
mean   4.149036e+00  1.360389e+09
std    1.311505e+00  4.611860e+07
min    1.000000e+00  9.087552e+08
25%    4.000000e+00  1.350259e+09
50%    5.000000e+00  1.372810e+09
75%    5.000000e+00  1.391472e+09
max    5.000000e+00  1.406074e+09

In [3]:
#displaying the dataset
df

                 UserId   ProductId  Rating   Timestamp
0        A39HTATAQ9V7YF  0205616461     5.0  1369699200
1        A3JM6GV9MNOF9X  0558925278     3.0  1355443200
2        A1Z513UWSAAO0F  0558925278     5.0  1404691200
3        A1WMRR494NWEWV  0733001998     4.0  1382572800
4        A3IAAVS479H7M7  0737104473     1.0  1274227200
...                 ...         ...     ...         ...
2023065  A3DEHKPFANB8VA  B00LORWRJA     5.0  1405296000
2023066  A3DEHKPFANB8VA  B00LOS7MEE     5.0  1405296000
2023067   AG9TJLJUN5OM3  B00LP2YB8E     5.0  1405382400
2023068   AYBIB14QOI9PC  B00LPVG6V0     5.0  1405555200
2023069  A1PB6OT0OOPKNQ  B00LU0LTOU     5.0  1405641600

[2023070 rows x 4 columns]

In [11]:
#checking for the data integriety by finding the duplicate rows.
duplicates = df.duplicated(["UserId","ProductId", "Rating", "Timestamp"]).sum()
print(' Duplicate records: ',duplicates)

 Duplicate records:  0

In [19]:
#Printing the number of unique users
print('unique users:',len(df['UserId'].unique()))

unique users: 1210271

In [16]:
#Printing the number of unique products
print('unique products:',len(df['ProductId'].unique()))

unique products: 249274

In [17]:
#Printing the number of unique ratings
print('unique ratings:',len(df['Rating'].unique()))

unique ratings: 5

# Handling null values

In [20]:
df.isnull().any()

UserId       False
ProductId    False
Rating       False
Timestamp    False
dtype: bool